[submodule "vim/pack/default/start/coc"]
	path = vim/pack/default/start/coc
	url = https://github.com/neoclide/coc.nvim.git
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
[submodule "vim/pack/default/start/fzf"]
	path = vim/pack/default/start/fzf
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/pack/default/start/tagbar"]
	path = vim/pack/default/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/pack/default/start/tabular"]
	path = vim/pack/default/opt/tabular
	url = https://github.com/godlygeek/tabular.git
